@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


:root {
  --ifm-font-family: 'Outfit', sans-serif;
  --ifm-heading-font-family: 'Outfit', sans-serif;
  --ifm-code-font-family: 'Outfit', sans-serif;
  --ifm-color-primary: #e8572a;
  --ifm-color-primary-dark: #d14e26;
  --ifm-color-primary-darker: #c54a24;
  --ifm-color-primary-darkest: #a23d1d;
  --ifm-color-primary-light: #ea683f;
  --ifm-color-primary-lighter: #ec714a;
  --ifm-color-primary-lightest: #f18b6b;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);


  /* Footer */
  --ifm-footer-background-color: #f9a602;
  --ifm-footer-color: #082c56;
  --ifm-footer-link-color: #082c56;
  --ifm-footer-link-hover-color: #082c56;
  --ifm-footer-border-top: 3px solid #000000;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f18b6b;
  --ifm-color-primary-dark: #f07e5a;
  --ifm-color-primary-darker: #ef7751;
  --ifm-color-primary-darkest: #e95122;
  --ifm-color-primary-light: #f3987c;
  --ifm-color-primary-lighter: #f49e85;
  --ifm-color-primary-lightest: #f7b3a0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


* {
  font-family: var(--ifm-font-family);
}